
.SubjectsOuterMain {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
html,
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(
    to bottom,
    #111827 0%,
    #0f172a 50%,
    #020617 100%
  );
}
.Subs02 {
  min-width: 220px;
  padding: 25px 30px;
  background: linear-gradient(135deg, #334155, #0f172a);
  border-radius: 14px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}


.Subs02:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.6);
}

.Subs02 h2 {
  color: #f1f5f9;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0;
}
.Subs02 h3{
  color: #f1f5f9;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0;
}

@media (max-width: 600px) {
  .Subs02 {
    width: 100%;
    max-width: 320px;
  }
}
